<div class="card bg-light">
  <div class="card-header">{{ titulo }}: {{ factura.descripcion }}</div>
  <div class="card-body">
    <h4 class="card-title">
      <a [routerLink]="['/clientes']" class="btn btn-light btn-xs">&laquo; Volver</a>
    </h4>

    <form #facturaForm="ngForm">
      <div class="form-group row" *ngIf="factura.cliente">
        <label for="cliente" class="col-sm-2 col-form-label">Cliente</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" value="{{factura.cliente.nombre}} {{factura.cliente.apellido}}" name="cliente" id="cliente" disabled>
        </div>
      </div>
      <div class="form-group row">
        <label for="descripcion" class="col-sm-2 col-form-label">Descripción</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" name="descripcion" [(ngModel)]="factura.descripcion" id="descripcion" required #descripcion="ngModel">
          <div class="alert alert-danger" *ngIf="descripcion.invalid && descripcion.touched || descripcion.invalid && facturaForm.submitted">
            La descripción es requerida
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label for="observacion" class="col-sm-2 col-form-label">Observación</label>
        <div class="col-sm-6">
          <textarea class="form-control" name="observacion" id="observacion" [(ngModel)]="factura.observacion"></textarea>
        </div>
      </div>
      <div class="form-group row">
        <label for="producto" class="col-sm-2 col-form-label">Productos</label>
        <div class="col-sm-6">
          <mat-form-field appearance="fill">
            <mat-label>Productos</mat-label>
            <input type="text"
                   placeholder="Añadir producto"
                   matInput
                   [formControl]="autoCompleteControl"
                   [matAutocomplete]="auto"
            id="producto">
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="mostrarNombre" (optionSelected)="seleccionarProducto($event)">
              <mat-option *ngFor="let producto of productosFiltrados | async" [value]="producto">
                {{ producto.nombre }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
          <div class="alert alert-danger" *ngIf="autoCompleteControl.invalid && facturaForm.submitted">
            Debe tener al menos un producto.
          </div>
        </div>
      </div>
      <div class="alert alert-info my-4" *ngIf="factura.items.length == 0">
        No hay líneas para la factura. Debe agregar al menos una.
      </div>
      <table class="table table-hover table-striped table-sm" *ngIf="factura.items.length > 0">
        <thead>
          <tr>
            <th>Producto</th>
            <th>Precio</th>
            <th>Cantidad</th>
            <th>Total</th>
            <th>Eliminar</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of factura.items">
            <td>{{item.producto.nombre}}</td>
            <td>{{item.producto.precio}}</td>
            <td>
              <input type="number" value="{{item.cantidad}}" class="form-control col-sm-4" (change)="actualizarCantidad(item.producto.id, $event)">
            </td>
            <td>{{item.calcularImporte()}}</td>
            <td>
              <button class="btn btn-danger btn-sm" type="button" (click)="eliminarItemFactura(item.producto.id)">x</button>
            </td>
          </tr>
        </tbody>
      </table>
      <h5 class="float-right" *ngIf="factura.items.length > 0">
        Gran Total <span class="badge badge-secondary">{{ factura.calcularGranTotal() }}</span>
      </h5>
      <div class="form-group row">
        <div class="col-sm-6">
          <input type="submit" class="btn btn-primary" value="Crear Factura" (click)="create(facturaForm)">
        </div>
      </div>
    </form>
  </div>
</div>
